{% extends 'bot/base.html' %}
{% block Title %}U9 bot{% endblock %}
{% block Body %}

<span class="colortext"> <b>Carboncalc template </b><br></span>
{% if clickboards_list %} <!-- if clickboards_list -->
<legend>items:</legend>
{{ clickboards_list }}
{% else %}  <!-- if clickboards_list -->
<span class="colortext"> <b>No items found </b></span>
{% endif %} <!-- if clickboards_list -->

<link rel="stylesheet" href="https://unpkg.com/x-data-spreadsheet@1.1.5/dist/xspreadsheet.css">
<script src="https://unpkg.com/x-data-spreadsheet@1.1.5/dist/xspreadsheet.js"></script>

<script>
   x_spreadsheet('#xspreadsheet');
</script>

{% endblock %}