<nav class="navbar navbar-expand-md navbar-light" style="background-color: #defcf3;">
  <div class="container container-fluid">
    <a class="navbar-brand" href="#">App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
              <div class="d-flex flex-column bd-highlight mb-6">
            <div class="p-2 bd-highlight">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}" aria-current="page">Home</a>
        </li>
        {% if request.user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Users</a>
            </li>
        {% endif %}
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">New Poll</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' request.user.profile.id %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Log Out</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Register</a>
            </li>
        {% endif %}
          <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
          <form class="d-flex" action="{% url 'admin:index' %}" method="get">
            <input type="text" class="form-control me-2" name="query" placeholder="search" value="{{ query }}" />
            <input type="submit" class="btn btn-outline-success" value="Search" />
        </form>
      </ul>
    </div>
  </div>
              </div>
</nav>